@charset "UTF-8";

.actionWrapper button {
    background: #fff none repeat scroll 0 0;
    line-height: 24px;
    margin: 0 3px;
    padding: 0 10px;
}

.actionWrapper .main_button {
    background: #eb007b;
    font-weight: bold;
    color:#fff;
}

.hasDatepicker {
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    margin: 15px -20px 20px;
    padding: 15px;
}

.progressWrapper progress {
    width: 100%;
}
